.App {
  text-align: center;
}

.App-button {
  position: absolute;
  margin: auto;
  height: 44px;
  width: 120px;
  background: #4267B2;
  line-height: 44px;
  border-radius: 8px;
  text-align: center;
  display: block;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
